## Notes

Matrix dimensions:
- emissions: 5
- concentration: 5
- forcings: 5
- cummins: 4
- airborne_emissions: 5

In [28]:
# Dependencies
import pandas as pd

In [29]:
# Input data
file_path = 'data/climate/pos_generative.csv'

# Read the CSV into a pandas dataframe without headers
df = pd.read_csv(file_path, header=None)

# Species list
species = ["CO2_FFI", "CO2_AFOLU", "CO2", "CH4", "N2O"]

# Construct new column names
emissions_cols = [f"{s}_emissions" for s in species]
concentrations_cols = [f"{s}_concentration" for s in species]
forcings_cols = [f"{s}_forcing" for s in species]
temp_cols = ['T1', 'T2', 'T3', 'T4']
airborne_emissions_cols = [f"{s}_airborne_emissions" for s in species]

# Combine all new column names
new_column_names = emissions_cols + concentrations_cols + forcings_cols + temp_cols + airborne_emissions_cols

# Rename columns in df
df.columns = new_column_names

# Add run and year columns
df['run'] = (df.index // 351) + 1
df['year'] = (df.index % 351) + 1750
df = df[df['run'] == 1]

print(df.head())

   CO2_FFI_emissions  CO2_AFOLU_emissions  CO2_emissions  CH4_emissions  \
0           0.009506             0.297465       0.306970      19.019783
1           0.009506             0.302937       0.312443      18.915109
2           0.009510             0.308510       0.318020      18.889712
3           0.009510             0.314186       0.323696      19.121377
4           0.009514             0.319966       0.329480      19.509061

   N2O_emissions  CO2_FFI_concentration  CO2_AFOLU_concentration  \
0       0.086022                      0                        0
1       0.087647                      0                        0
2       0.089303                      0                        0
3       0.090990                      0                        0
4       0.092709                      0                        0

   CO2_concentration  CH4_concentration  N2O_concentration  ...        T2  \
0         278.300000         729.200000         270.100000  ...  0.000000
1         278.332338         729.200000         270.100000  ... -0.000013
2         278.358963         729.164836         270.100207  ... -0.000034
3         278.383653         729.124236         270.100624  ... -0.000035
4         278.407255         729.165034         270.101252  ...  0.000043

         T3            T4  CO2_FFI_airborne_emissions  \
0  0.000000  0.000000e+00                           0
1  0.000008  4.119011e-07                           0
2  0.000052  6.236473e-06                           0
3  0.000166  3.929704e-05                           0
4  0.000382  1.717446e-04                           0

   CO2_AFOLU_airborne_emissions  CO2_airborne_emissions  \
0                             0                0.000000
1                             0                0.252271
2                             0                0.459968
3                             0                0.652578
4                             0                0.836698

   CH4_airborne_emissions  N2O_airborne_emissions  run  year
0            0.000000e+00            0.000000e+00    1  1750
1           -2.092555e-09           -1.512765e-12    1  1751
2           -9.999697e-02            1.617724e-03    1  1752
3           -2.154547e-01            4.868961e-03    1  1753
4           -9.943642e-02            9.769932e-03    1  1754

[5 rows x 26 columns]

In [30]:
# Select all emissions columns for CO2 FFI
# df.filter(like='CO2_FFI_emissions')
df.loc[:, ['year'] + df.filter(like='CO2_FFI_emissions').columns.tolist()]

     year  CO2_FFI_emissions
0    1750           0.009506
1    1751           0.009506
2    1752           0.009510
3    1753           0.009510
4    1754           0.009514
..    ...                ...
346  2096       -5951.621717
347  2097       -5893.403678
348  2098       -5835.185790
349  2099       -5776.968051
350  2100       -5718.750460

[351 rows x 2 columns]

In [31]:
# All concentration columns
df.filter(like='_concentration')

,CO2_FFI_concentration,CO2_AFOLU_concentration,CO2_concentration,CH4_concentration,N2O_concentration
0,0,0,278.300000,729.200000,270.100000
1,0,0,278.332338,729.200000,270.100000
2,0,0,278.358963,729.164836,270.100207
3,0,0,278.383653,729.124236,270.100624
4,0,0,278.407255,729.165034,270.101252
...,...,...,...,...,...
346,0,0,213273.985453,729.200000,383.767026
347,0,0,212306.287062,729.200000,384.103333
348,0,0,211347.523493,729.200000,384.428563
349,0,0,210397.681479,729.200000,384.742863
350,0,0,209456.747797,729.200000,385.046384